# ===============================
# APP
# ===============================
APP_URL=http://localhost:3000
NODE_ENV=development

# ===============================
# DATABASE
# ===============================
MONGODB_URI=mongodb://127.0.0.1:27017/ayarlio_db

# ===============================
# JWT
# ===============================
JWT_SECRET=very_long_string

# ===============================
# EMAIL (Resend)
# ===============================
RESEND_API_KEY=resend_api_key